@use "../settings" as setting;
@use "../tools" as tool;
@use "sass:map";

.c-header {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(m));
  padding-bottom: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(m));
}

.c-logo-label {
  &--footer {
    font-size: clamp(map.get(setting.$fontRemSize, l), (setting.breakpoints(overm)), map.get(setting.$fontRemSize, xl));
  }
}

.c-sidebar-bottom {
  margin: 0 clamp(setting.f-space-px(m), setting.breakpoints(overs), setting.f-space-px(xl));
}

body.is-fixed {
  overflow: hidden;
}

.c-sp-link {
  padding: clamp(setting.f-space-px(s), (setting.breakpoints(overm)), setting.f-space-px(m))
    clamp(setting.f-space-px(m), setting.breakpoints(overs), setting.f-space-px(xl));
  color: currentcolor;

  &:hover,
  &:focus {
    background-color: color-mix(in oklab, var(--c-brand-shade), map.get(setting.$sys-light, primary) 15%);
  }
}

.c-menu-bars {
  position: relative;
  width: calc(100% - setting.f-space-px(m));
  height: 1px;
  color: currentcolor;
  background: currentcolor;
  transition: all ease-out 0.3s;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-color: currentcolor;
    transition: all ease-out 0.3s;
  }

  &::before {
    top: -9px;
  }

  &::after {
    top: 9px;
  }

  .is-open & {
    background: transparent;

    &::before {
      top: 0;
      transform: rotate(-45deg);
    }

    &::after {
      top: 0;
      transform: rotate(45deg);
    }
  }
}

.c-sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: none;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-out;
  transform: scale3d(0.8, 0.8, 1);

  &[aria-hidden="false"] {
    z-index: 999;
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}

.swiper {
  & .swiper-pagination-bullet {
    background: map.get(setting.$sys-light, surfaceContainerLowest);
  }
}
