@use "../settings" as setting;
@use "sass:map";

.u-bg-primary {
  color: var(--c-text-on-fill);
  background-color: var(--c-button-normal);
}

.u-bg-secondary {
  color: var(--c-text-description);
  background: var(--c-bg-secondary);
}

.u-bg-overlay {
  color: var(--c-text-placeholder);
  background-color: var(--c-bg-tertiary);
}

.u-bg-qua {
  color: var(--c-text-body);
  background: var(--c-bg-qua);
}

.u-bg-gradient {
  color: map.get(setting.$sys-light, surfaceContainerLowest);
  background: linear-gradient(
    to bottom,
    map.get(setting.$sys-light, primary) 0%,
    map.get(setting.$sys-dark, onprimary) 100%
  );
}
